@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
*{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: "Lato", serif;
}
.btn-primary{
        padding: 20px 43px;
        border-radius: 8px;
        background: rgb(229, 84, 115);
        border: none;
        color: rgb(255, 255, 255);
        font-size: 20px;
        font-weight: 700;
                
}

.hero{
        width: 100%;
        height: 850px;
        background-color: #fceef1;
}
.hero-container{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 100px;
}
.hero-title{
        color: rgb(39, 39, 39);
        font-size: 80px;
        font-weight: 800;
        margin-bottom: 32px;
        
}
.hero-description{
        color: rgba(39, 39, 39, 0.6);
        font-size: 18px;
        font-weight: 400;
        margin-bottom: 32px;
              
}
.hero-item-img{
       margin-top: 50px;
}
.hide{
        display: none;
}
@media screen and (max-width:576px) {
        .heide-phone{
                display: none;
        }
        .hide{
                display: block;
        }
        .hero-container{
                flex-direction: column-reverse;
                text-align: center;
                gap: 30px;
                
        }
        .hero{
                height: auto;
        }
        .hero-item-img{
                width: 80%;
        }
        .hero-title{
                font-size: 2.5rem;
        }
        .hero-description{
                font-size: 16px;       
        }
        .hero-btn{
                margin-bottom: 60px;
        }
}